body {
	background: lightyellow;
}

h1 {
	text-align: center;
	font-size: 100px;
	font-family: 'Courgette', cursive;
	margin-bottom: 0;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-family: 'Courgette', cursive;
	margin-top: -5px;

}

h3 {
	font-size: 70px;
	width: 700px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-top: 30px;
	font-family: 'Courgette', cursive;
	margin-bottom: 0;
	box-shadow: 5px 5px 30px black;

	
	

}

h4 {
	text-align: center;
	font-size: 50px;
	font-family: 'Courgette', cursive;
	margin-bottom: 0;


	

}

p {
	text-align: center;
	font-size: 30px;
	font-family: 'Courgette', cursive;
}

#botones {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.boton {
	width: 350px;
	height: 180px;
	font-size: 50px;
	background: #FDD835;
	border: none;
	border-radius: 15px;
	font-family: 'Courgette', cursive;
	margin-top: 30px;
	
	

}

.boton:hover {
	background: #F9A825;
	cursor: pointer;

}

#titulo {
	border-bottom: 3px solid #FFE082;
	margin: -5px;
}

#imagenCapricho {
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	

}

#favorDelSultan {
	height: 100px;
	
}

#nuevaPartida {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}